.content {
    max-width       : 600px;
    margin          : auto;
    background-color: #ffffff;
    padding         : 2% 2%;
}

button {
    // background-color: #000;
    color           : #000;
}

button:hover {
    color: #fff
}

.error {
    color: red;
    font-size: 10px;
}