.content {
    max-width       : 500px;
    margin          : auto;
    background-color: #ffffff;
    padding         : 2% 2%;
}

button {
    background-color: #000;
    color           : #fff;
}

button:hover {
    color: #fff
}

.error {
    color: red;
    font-size: 12px;
}